* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 9px;
    background-color: #fdfcfc;
}

h1 {
    color: rgb(225, 87, 28);
}
#inner-container {
    width: 325px;
}

#input {
    padding: 14px 10px;
    width: 100%;
    font-size: xx-large;
    text-align: right;
    margin: 10px 0px;
    border-radius: 9px;
    background: #aaaaaa4f;
    border: none;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;    
    margin: auto;
}

.button {
    width: 70px;
    height: 70px;
    padding: 20px;
    background: rgb(30, 34, 52);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: x-large;
    box-shadow: 5px 5px 10px gray;
}

.equal {
    min-width: 48%;
}

.oprator {
    color: rgb(4, 226, 246);
}

.button:hover {
    background-color: rgba(242, 162, 51, 0.923);
}